DEBUG=False

DJANGO_SECRET_KEY=your-secret-key

DJANGO_SETTINGS_MODULE=config.settings.prod

DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_URL=postgres://smartnews@postgres:5432/smartnews

REDIS_URL=redis://redis:6379/0

PROXYAPI_API_KEY=your-proxyapi-api-key

BOT_SECRET=your-bot-secret